*{padding:0;margin:0}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
header , .pokemonList , .pokemonItem{
  overflow: hidden;
  padding:15px;
}
header {
  background-color: bisque;
}
header div{
  float: left;
  width: 50%;
}

header div:nth-child(2){
  text-align: right;
}
header div a{
  text-decoration: none;
  color: #000000;
}
header div:nth-child(2) a:hover{
  text-decoration: underline;
}
.textCenter{
  text-align: center;
}
.pokemonList{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media(max-width:767px){
  .pokemonList{
    justify-content: space-around;
  }
}
.pokemonItem{
  width: 250px;
  border:1px solid #eeeeee;
  margin-top:15px;
  border-radius: 4px;
  box-shadow: 1px 3px 4px 1px #eeeeee;
  cursor: pointer;
  color:#000000;
}
.itemToDetail{
  text-decoration: none;
}
.pokemonItem:hover{
  box-shadow: 0px 0px 0px 0px #ffffff;
  position: relative;
  top:1px;
  left: 1px;
}
.pokemonItem h5{
  margin-bottom: 5px;

}
.detailPage{
  padding:15px;
  max-width: 400px;
  margin: auto;
}
button{
  background-color: bisque;
  border:1px solid #dddddd;
  padding:5px 10px;
  border-radius: 6px;
  cursor: pointer;
}
button:hover{
  background-color: #f7cc99;
}
button:focus{
  outline: none;
}
.btnSubmit{
  margin-left: 10px;
}